<!--<div class="container">
  <header class="jumbotron">
    <p>{{ content }}</p>
  </header>
</div>-->

<div class="container">
  <div class="jumbotron text-center">
    <h1 class="display-4">Welcome to our leave management application</h1>
    <p class="lead">Manage your holidays efficiently and simply</p>
    <a href="#" class="btn btn-primary btn-lg">Start</a>
  </div>

  <div class="row">
    <div class="col-md-4">
      <div class="card mb-4">
        <div class="card-body">
          <h5 class="card-title">Leave request</h5>
          <p class="card-text">Apply for leave for a specific period.</p>
          <a href="#" class="btn btn-outline-primary">Leave request</a>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card mb-4">
        <div class="card-body">
          <h5 class="card-title">Leave history</h5>
          <p class="card-text">View your previous leave history.</p>
          <a href="#" class="btn btn-outline-primary">View history</a>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card mb-4">
        <div class="card-body">
          <h5 class="card-title">Holiday calendar</h5>
          <p class="card-text">plan your activities.</p>
          <a href="#" class="btn btn-outline-primary">View the calendar</a>
        </div>
      </div>
    </div>
  </div>
</div>
